:root {
  --primary: white;
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Verdana", san-serif;
  color: var(--primary);
  font-size: 22px;
}

body {
  min-height: 100vh;
  background-color: rgb(156, 34, 34);
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 32px;
  background-color: black;
}

#logo {
  font-size: 30px;
  text-decoration: none;
}

#logo:hover {
  cursor: pointer;
}


.navbar > ul {
  display: flex;
  list-style-type: none;
  gap: 40px;
}

.underline-text {
  text-decoration-color: transparent;
  text-underline-offset: 8px;
  transition-property: text-decoration-color;
  transition-duration: 1.5s;
}

.underline-text:hover {
  text-decoration-color: var(--primary);
  transition-property: text-decoration-color;
  transition-duration: 1.5s;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 100px;
  width: 1700;
  border-radius: 35px;
}

.text-center {
  text-align: center;
}
p span {
  background-color: black;
}